.container {
  .form {
    .rmb-pass {
      width: 100%;
      .checkbox {
        width: 25px;
        box-shadow: none;
      }
    }
    .button {
      width: 100%;
    }
    .frg-pass {
      text-decoration: none;
      color: lightblue;
    }
  }
}

@media only screen and (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
